body {
    background: rgb(48, 133, 189);
}

.tela {
    text-align: center;
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 15px;
}

section {
    background: rgb(227, 217, 217);
    border-radius: 20px;
    padding: 15px;
    width: 400px;
    height: 500px;
    margin: auto;
    box-shadow: 5px 5px 15px;
    margin-top: 100px;
    position: relative;
}

button {
    font: bold 30pt Arial;
    color:rgb(32, 47, 57);
    width: 90px;
    height: 75px;
    margin-top: 6px;
    border-radius: 15px;
    margin-left: 3px;
    margin-right: 3px;
}

input {
    width: 370px;
    height: 60px;
    font: normal 20pt Arial;
    text-align: end;
    border-radius: 15px;
}

.operation {
    color: rgb(22, 31, 210);
}

.operation:hover {
    background-color: rgb(219, 215, 215);
}

.number:hover {
    background-color: rgb(219, 215, 215);
}